*{
	margin: 0;
	padding: 0;
    list-style-type: none;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
.left2{
    float: left;
    margin-left: 100px;
    margin-top: 10px;
    position: relative;
}
.right2{
	float: right;
    margin-top: 5px;
    margin-right: 440px;
    position: relative;
}
.right1{
	float: right;
    margin-top: 5px;
    margin-right: 340px;
    position: relative;

}
/*top菜单栏区域的样式 开始*/
.top{
    height: 90px;
    background-color: rgb(209, 209, 174);
}
.parent{
    width: 100%;
    height: 42px;
    top: 4px;
}
.parent>input:first-of-type{
    width: 380px;
    height: 40px;
    border: none;
}
.parent>input:last-of-type {
    width: 100px;
    height: 40px; 
    position: absolute;
    font-size: 16px;
    outline: none;
}
.nav{
    height:40px ;
    background-color: rgb(84, 87, 41);
}
.nav .items{
    height: 40px;
    line-height: 40px;
    /* margin-left: 180px; */
    /* margin: auto; */
}
.nav .items li a{
    color: white;
}
.nav .items li{
    float: left;
    margin: 0px 77.5px;
}
.nav .items .itemFirst{
    margin-left: 0px;
}
.nav .items .itemLast{
    margin-right: 0px;
}
.nav .items li a:hover{
    color: black;
}
.container{
	width: 1000px;
	margin: 0 auto;
}
.main{
    background-color: pink;
}
.dailyPoem{
    width: 700px;
    /* background-color: rgb(255, 0, 0); */
}
.title{
    padding-left: 40px;
    height: 50px;
    line-height: 50px;
    background-color: rgb(25, 231, 94);
}
.poetName{
    display: block;
    margin-right: 10px;
}
.poemInLines{
    padding: 30px;
    margin-top:10px;
}
.poemInLines p{   
    text-align: center;
    font-size: larger;
}
.poems{
    margin-top: 50px;
}
.right{
    float: right;
}
.left{
    float: left;
}

.recommand{
    width: 300px;
    /* background-color:blue; */

}
.midrecommand{
    margin: 0 100px;
    margin-top: 0px;
    margin-right: 0;
}
.recommandTitle{
    height: 50px;
    line-height: 50px;
    margin-bottom: 10px;
    
}
.recommandPoem{
    padding: 10px;
    
}
.recommandPoem p{
    text-align: left;
}
.centerpoem{
    width: 160px;
    margin: auto;
}
.recommandPoemandLink{
    padding-bottom: 30px;
    height: 238px;
    width: 200px;
}
.recommandLink a{
    text-decoration: underline dotted;
    text-decoration-color: #757575;
    color: black;
}
.circlePicture{
    width: 1000px;
    /* height: 500px; */
}
.center{
    text-align: center;
}
.mainStyle{
    background-color: rgb(240,239,226);
    border-radius: 10px;

}

.banner{
    height: 500px;
    width: 1000px;
    /* background-color: pink; */
    position: relative;
}
.banner .bannerPic {
    height: 100%;
    width: 100%;
}
.leftpointer,.rightpointer{
    position: absolute;
    height: 50px;
    top: 50%;
    display: block;
}
.leftpointer{
    left:0;
}
.rightpointer{
    right:0;
}
.recommandPoem p{
    margin-top: 20px;
}
body{
    background-color: rgb(209, 209, 174);
}