<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <title>中华诗词</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div class="top">
        <div class="left2">
            <img src="img/logo.png" />
        </div>
        <div class="right2">
            <div class="right1">
            <button type="button" style="cursor: pointer;width: 70px;height:30px;background-color:rgb(240,239,227);border: none;" >登录</button>
            <button type="button" style="cursor: pointer;width: 70px;height:30px;background-color:rgb(240,239,227);border: none;">注册</button>
            </div>
            <br>
            <div class="right2">
                <form action="" class="parent">
                    <input type="text" value="" placeholder="请输入关键字" border: none;>
                    <input type="button" value="搜索"  style="cursor: pointer; border:none;border-top-left-radius: 0px;
                    border-top-right-radius: 15px;
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 15px;";
                    >
                </form>
            </div>
        </div>
    </div>
    <div class="nav">
        
        <div class="items container">          
                <li class= "itemFirst"><a href="">唐诗</a></li>
                <li><a href="">宋词</a></li>
                <li><a href="">元曲</a></li>
                <li><a href="">四书五经</a></li>
                <li><a href="">论语</a></li>
                <li class="itemLast"><a href="" >关于</a></li>
        </div>
    </div>
    
    <div class="banner container" id="app">
        <img :src="imgArr[index]" alt="" class="bannerPic">
        <a href="javascript:void(0)" @click="prev" v-show="index!=0"><img src="img/left.png" alt="" class="leftpointer"></a>
        <a href="javascript:void(0)" @click="next" v-show="index<imgArr.length-1"><img src="img/right.png" alt="" class="rightpointer"></a>
    </div>
    
    <div class="main container">
        <!-- <div class="circlePicture center">
            <div id="app">
                <div :style="imageUrl" :class="bannerClass">
        
                </div>
        </div> -->
        <div class="poems">
            <div class="dailyPoem left">
                <div class="title mainStyle">
                    <h2>每日诗词</h2>
                </div>
                <div class="poemInLines mainStyle">
                    <p>《鹧鸪天》</p>
                    <p class="poetName">辛弃疾</p>
                    <p>晚日寒鸦一片愁。柳塘新绿却温柔。<br>若教眼底无离恨，不信人间有白头。<br>
                        肠已断，泪难收。相思重上小红楼。<br>情知已被山遮断，频倚阑干不自由。</p>
                </div>
            </div>
            <div class="recommand right ">
                <div class="midrecommand">
                    <div class="recommandTitle center mainStyle">
                        <h3>诗文推荐</h3>
                    </div>
                    <div class="recommandPoemandLink mainStyle">
                        <div class="centerpoem">
                            <div class="recommandPoem center">
                                <h4>再别康桥</h4>
                                <p>轻轻的我走了，</p>
                                <p>正如我轻轻的来；</p>
                                <p>我轻轻的挥手，</p>
                                <p>作别西天的云彩</p>
                            </div>
                        </div>
                        <div class="recommandLink center">
                            <a href="#">点击进入</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <script>
        var app = new Vue({
            el:"#app",
            data:{
                imgArr:["./img/1.jpg","./img/2.jpg","./img/3.jpg",],
                index: 0
            },
            methods:{
                prev:function(){
                    this.index--;
                    console.log(this.index);
                },
                next:function(){
                    this.index++;
                    console.log(this.index);
                },
            },

        })
    </script>
</body>

</html>