<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <link rel="stylesheet" href="../css/register.css">
    <script src="../js/ajax.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
</head>
<body>
<div id="app">
    <div class="center">
        <h1>新用户注册</h1>
        <form methon="post">
            <div class="txt_field">
                <input v-model="nickname" type="text" required>
                <span></span>
                <label for="">昵称</label>
            </div>
            <div class="txt_field">
                <input v-model="username" type="text" required>
                <span></span>
                <label for="">用户名</label>
            </div>
            <div class="txt_field">
                <input v-model="password" type="password" required>
                <span></span>
                <label for="">密码</label>
            </div>
            <div class="pdex">密码要求8-16位，至少包含数字、字母、字符两种元素</div>
            <button type="button" @click="register" id="btn">注册</button>
            <div class="zhuce_link">
                <a href="../../login/html/login.html">登录界面</a>
            </div>
        </form>
    </div>
</div>
<script>
    var app = new Vue({
        el:"#app",
        data:{
            nickname:"",
            username:"",
            password:""
        },
        methods:{
            register:function(){
                var that=this;
                var pack= {"username": that.username, "password": that.password,"nickname":that.nickname};
                // console.log(JSON.stringify(pack));
				axios.post("http://zhuaowei.top:8081/user/register", JSON.stringify(pack), {headers: {'content-type': 'application/json;charset=UTF-8'}})
                .then(function(response){
                    console.log(response);
                    if(response.data.code==2001){
                        alert(response.data.mes);
                    }else if(response.data.code==5001){
                        alert(response.data.mes);
                    }else if(response.data.code==5002){
                        alert(response.data.mes);
                    }else if(response.data.code==4000){
                        alert(response.data.mes);
                    }else if(response.data.code==4001){
                        alert(response.data.mes);
                    }else if(response.data.code==4002){
                        alert(response.data.mes);
                    }else if(response.data.code==4003){
                        alert(response.data.mes);
                    }else if(response.data.code==4004){
                        alert(response.data.mes);
                    }else if(response.data.code==4005){
                        alert(response.data.mes);
                    }
                })
            }
        }
    })
</script>

</body>
</html>